.weather-app{
    background:white;
    display: block;
    max-width:600px;
    margin: 45px auto;
    padding: 30px;
    border-radius:16px;
    font-family:"Roboto", sans-serif;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08)
}

body{
    background: #f9f7fe;
}

.weather-app-data{
    display:flex;
    justify-content:space-between;
}

.current-temperature-unit{
    font-size: 28px;
    height:100px;
}

.current-temperature-value{
    font-size:100px;
    font-weight:bolder;

}
.search-input{
    background:#f9f7fe;
    border:none;
    padding:15px;
    font-size:15px;
    padding-right:300px;
    border-radius:10px;
}
.search-button{
    border:none;
    padding:15px;
    padding-right: 25px;
    padding-left:25px;
    color:white;
    background-color:#885df1;
    border-radius:10px;
}

header{
    border-bottom:1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
h1{
    font-size:40px;
    line-height:48px;
}
p{
    color:#a4a4a4;
}
strong{
    color:#F66599;
}
a{
    color:#8064E9;
}
footer{
    font-size: 14px;
    color:rgb(109, 109, 109);
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0 ;
}

main{
    padding:30px 0;
}

.icon{
    width:88px;
    height:100px;
}